* {
  box-sizing: border-box; 
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #f2ae47;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}
body {
  background: linear-gradient(to right, #f5ca1c 0%,#df4f00 100%); 
  padding: 10em; 

}

.search-container {
  width: 50%;
  margin: auto;
}
li, input {
  background: #f2ae47;
  color: #333; 
  /* font-family: 'sans-serif';  */
  font-size: 20px; 
  font-weight: 300;
}
input {
 display: block; 
 width: 100%; 
 margin: auto;
}


suggestions {
  padding: 10em;
  width: 100%;
  margin: auto;
}

ul {
  /* TODO */
  display:none;

}
ul.has-suggestions {
  display: inline-block;
  list-style: none;
  width: 100%;
  

}
ul li {
  padding: .5em .75em;
  
}
ul li:hover {
  background: #e65c00;
  color: #333;
  cursor: pointer;
}
